.col-md-10
  h1 {{title}}
  p Welcome to {{title}}
  form(method='POST')
    .formfield
      .formprompt
      label Prospect Name
      br
      input#name(type='text', name='name', ng-model='feedback.name')
    .formfield
      .formprompt
      label Phone
      br
      input#phone(type='text', name='phone', ng-model='feedback.phone')
    .formfield
      .formprompt
      br
      input#status(type='radio', name='string', ng-model='feedback.status', value='Call Only')
      label Call Only
    .formfield
      .formprompt
      br
      input#status(type='radio', name='string', ng-model='feedback.status', value='Gave Code')
      label Gave Code
    .formfield
      .formprompt
      br
      input#status(type='radio', name='string', ng-model='feedback.status', value='Scheduled Showing')
      label Scheduled Showing
      br
      input.submitButton(type='submit', ng-click='addFeedback()')

