.col-md-9
  .col-md-10
    h1 {{title}}
    h4 Add Property To System: 
    form(method='POST')
      .formfield
        .formprompt
        label.label4PropIn Number: 
        br
        input.addPropInput#name(type='text', name='name', ng-model='property.houseNumber')
      .formfield
        .formprompt
        label.label4PropIn Street Name:
        br
        input.addPropInput#property(type='text', name='property', ng-model='property.street')
      .formfield
        .formprompt
        label.label4PropIn City:
        br
        input.addPropInput#phone(type='text', name='phone', ng-model='property.city')
      .formfield
        .formprompt
        label.label4PropIn State:
        br
        input.addPropInput#phone(type='text', name='phone', ng-model='property.state')
      .formfield
        .formprompt
        label.label4PropIn Zip:
        br
        input.addPropInput#phone(type='text', name='phone', ng-model='property.zip')
        br
        br
      .formfield
        .formprompt
        label.label4PropIn Status: 
        br
        input(type='radio', name='occupied', value='false', ng-model='property.status')
        label.label4PropIn Occupied
        br
        input(type='radio', name='Available', value='True', ng-model='property.status')
        label.label4PropIn Available
        br
        input.submitButton(type='submit', ng-click='addProperty()')
