.row
    .col-md-4
    .col-md-4
      h1 {{title}}
      p Welcome to {{title}}

      .list(ng-repeat= 'unit in units')
        .info.property
        ul 
          li {{unit.HouseNum}} {{unit.StreetName}}
          li {{unit.City}} , {{unit.State}} {{unit.Zip}}
          br
          li Status: 
          input(type='radio', name='string', value='Occupied')
          label Occupied
          br
          input(type='radio', name='string', value='Available')
          label Available
        br
    .col-md-4