.col-md-9
  .row
    h1#registerHeadline {{message2}}
  .row 
    .col-md-4
    .col-md-4
      h3 {{message}}
      form(method='POST')
        .formfield
          .formprompt
          input#username.regInputs(type='text', name='username', ng-model='user.username')
        .formfield
          .formprompt
          input#password.regInputs(type='password', name='password', ng-model='user.password')
          br
          input.btn.btn-info.submitRegButton(type='submit', ng-click='register()')
    .col-md-4
  .row 
    .col-md-6.registerImgs
      img.img-responsive(src='/images/crm.jpeg')
    .col-md-6.registerImgs
      img.img-responsive(src='/images/sky.jpg')

erImgsg')
