* {
	font-family: 'Roboto Condensed', sans-serif;
}

/*div {
	border: solid black 1px;
}*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #E6E8FA;
}

a {
  color: #00B7FF;
}

.nav {
	background-color: #82CFFD;
}

.navButtons {
	color: black;
}

#loginHead {
	text-align: center;
}


#loginLabel {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
}

#loginButton {
	margin: 10px;
}

#homeimg {
	margin: 0 auto;
}

.homeText {
	font-size: 18px;
}

#customTable tbody tr:nth-child(odd) {
  background-color: #B0C4DE;
  color: #191970;
}

#customTable tbody tr:nth-child(even) {
  background-color: #C6E2FF;
  color: #436EEE;
}

.dets {
	display: inline-block;
}

#allPropList {
	list-style: none;
	font-size: 18px;
}

button {
  margin: 10px;
}

.actionLink1 {
	color: #1E90FF;
}

.actionLink2 {
	color: white;
}

.details {
	margin: 20px;
}

.addPropInput {
	width: 200px;
}

.label4PropIn {
	padding: 5px;
	font-size: 15px;
}