* {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #CCFFFF;
}

div {
	border: solid black 1px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#loginHead {
	text-align: center;
}

#loginLabel {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
}

#loginButton {
	margin: 10px;
}

#homeimg {
	margin: 0 auto;
}

.dets {
	display: inline-block;
}