doctype html
html
  head
    base(href='/')
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css')
  body(ng-app='myApp')
    
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='http://cdn.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/serial.js')
    script(src='http://cdn.amcharts.com/lib/3/themes/dark.js')
    script(src='images/amCharts.js')



    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/services/getPropertyService.js')
    script(src='js/controllers/login.js')
    script(src='js/controllers/logout.js')
    script(src='js/controllers/register.js')
    script(src='js/controllers/feedbackForm.js')
    script(src='js/controllers/graphsCtrl.js')
    script(src='js/controllers/postShowings.js')
    script(src='js/controllers/prop.js')
    script(src='js/filters/followupStatus.js')
    script(src='js/directives/initChart.js')    
    
    .row(ng-controller='logoutCtrl')
      .col-md-1
      .col-md-2
        ul.nav.nav-list(ng-show='!rootuser')
          li.nav-header
          li.active
            a.navButtons(href='/register') Register
          li.active
            a.navButtons(href='/login') Login
        ul.nav.nav-list(ng-show='rootuser')
          li.nav-header
          li.active
            a.navButtons(href='/userHome') Home
          li 
            a.navButtons(href='/addProperties') Add Property
          li 
            a.navButtons(href='/changeProperty') Change Property Status
          li 
            a.navButtons(ng-click='logout()') Logout
      block content
