doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .holdsForm
      h1 #{title}
      p Welcome to #{title}
      form(method='POST')
        .formfield
          .formprompt
          input#username(type='text', name='username')
        .formfield
          .formprompt
          input#password(type='password', name='password')
          br
          input.submitButton(type='submit')